@font-face {
  font-family: Magnies;
  src: url(../.otf/Magnies.otf);
}

@font-face {
  font-family: Maginia;
  src: url(../.ttf/Maginia.ttf);
}

@font-face {
  font-family: GarageGothic;
  src: url(../.otf/GarageGothic.otf);
}
