body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

html,
body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

html {
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: myFont;
  src: url(../.ttf/MaginiaRegular.ttf);
}

@font-face {
  font-family: GarageGothicBold;
  src: url(../.otf/GarageGothic-Bold.otf);
}

.myInvert {
  filter: invert(70%);
  mix-blend-mode: difference;
}

.posCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
